* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

a {
	color: #fff;
	text-decoration: none;
}

.wrapper {
	height: 100%;

}

.container {
	text-align: center;
	color: white;
}

.header {
	background-color: #505050;
	padding: 20px;
	font-size: xx-large;
	font-weight: bold;
}

.nav-area {
	background-color: #7f7f7f;
	padding: 0px 2.5%;
	font-size: larger;
	position: sticky;
	top: 0;
	z-index: 1;
}

.nav-area ul li a {
	padding: 10px;
	display: block;
}

.nav-area ul li a:hover {
	background-color: #262626;
}

.nav-area ul li {
	display: inline-block;
	padding: 0;
	text-align: center;
}

.nav-area ul {
	list-style: none;
}

.dropdown-menu {
	position: relative;
	width: 150px;
}

.dropdown-menu ul {
	top: 43px;
	width: 150px;
	position: absolute;
}

.dropdown-menu ul li {
	display: none;
	padding: 0;
}

.dropdown-menu ul li a {
	color: #6d96c3;
	background-color: #f5f5f5;
	display: block;
	text-align: left;
}

.dropdown-menu ul li a:hover {
	background-color: #d6d6d6;
}

.nav-area ul li:hover ul li {
	display: block;
	position: relative;
}

.footer {
	background-color: #000000;
	padding: 5px;
}